<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>学生信息</title>
    <link rel="stylesheet" href="../weui/dist/style/weui.css"/>
    <!--<link rel="stylesheet" href="./weui/dist/example/example.css"/>-->
    <!--<link rel="stylesheet" href="./node_modules/jquery-weui/dist/lib/weui.css">-->
    <link rel="stylesheet" href="../node_modules/jquery-weui/dist/css/jquery-weui.css">
    <link rel="stylesheet" href="../node_modules/jquery-weui/dist/demos/css/demos.css">
    <script src="../node_modules/jquery-weui/dist/lib/jquery-2.1.4.js"></script>
    <script src="../node_modules/jquery-weui/dist/js/jquery-weui.js"></script>
</head>


<body ontouchstart>


<div class="weui-tab">
    <div class="weui-tab__bd">
        <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
            <div class="weui-panel__hd">2016级</div>
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">标题一</h4>
                        <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                    </div>
                </div>
                <div class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">标题二</h4>
                        <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab2" class="weui-tab__bd-item">
            <div class="weui-tab">
                <div class="weui-navbar">
                    <div class="weui-navbar__item weui-navbar__item--on" href="#tab1a">
                        16级
                    </div>
                    <div class="weui-navbar__item" href="#tab2a">
                        15级
                    </div>
                    <div class="weui-navbar__item" href="#tab3a">
                        14
                    </div>
                </div>
                <div class="weui-tab__bd">
                    <div id="tab1a" class="weui-tab__bd-item weui-tab__bd-item--active ">

                        <div class="page">
                            <div class="page__bd">
                                <div class="weui-cells__title">王霁</div>
                                <div class="weui-cells">
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <p>学号</p>
                                        </div>
                                        <div class="weui-cell__ft">*******</div>
                                    </div>
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <p>是否实习</p>
                                        </div>
                                        <div class="weui-cell__ft">否</div>
                                    </div>
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <p>是否开题</p>
                                        </div>
                                        <div class="weui-cell__ft">否</div>
                                    </div>
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <p>答辩状态</p>
                                        </div>
                                        <div class="weui-cell__ft">未答辩</div>
                                    </div>
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <p>是否在校生</p>
                                        </div>
                                        <div class="weui-cell__ft">是</div>
                                    </div>
                                </div>

                            </div>
                            <div class="page">

                                <div class="page__bd">
                                    <div class="weui-cells__title">邱玄伟</div>
                                    <div class="weui-cells">
                                        <div class="weui-cell">
                                            <div class="weui-cell__bd">
                                                <p>学号</p>
                                            </div>
                                            <div class="weui-cell__ft">********</div>
                                        </div>
                                        <div class="weui-cell">
                                            <div class="weui-cell__bd">
                                                <p>是否实习</p>
                                            </div>
                                            <div class="weui-cell__ft">是</div>
                                        </div>
                                        <div class="weui-cell">
                                            <div class="weui-cell__bd">
                                                <p>是否开题</p>
                                            </div>
                                            <div class="weui-cell__ft">否</div>
                                        </div>
                                        <div class="weui-cell">
                                            <div class="weui-cell__bd">
                                                <p>答辩状态</p>
                                            </div>
                                            <div class="weui-cell__ft">未答辩</div>
                                        </div>
                                        <div class="weui-cell">
                                            <div class="weui-cell__bd">
                                                <p>是否在校生</p>
                                            </div>
                                            <div class="weui-cell__ft">是</div>
                                        </div>

                                    </div>

                                </div>

                            </div>


                        </div>
                        <div class="page">
                            <div class="page__bd">
                                <div class="weui-cells__title">侯博文</div>
                                <div class="weui-cells">
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <p>学号</p>
                                        </div>
                                        <div class="weui-cell__ft">********</div>
                                    </div>
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <p>是否实习</p>
                                        </div>
                                        <div class="weui-cell__ft">否</div>
                                    </div>
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <p>是否开题</p>
                                        </div>
                                        <div class="weui-cell__ft">否</div>
                                    </div>
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <p>答辩状态</p>
                                        </div>
                                        <div class="weui-cell__ft">未答辩</div>
                                    </div>
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <p>是否在校生</p>
                                        </div>
                                        <div class="weui-cell__ft">是</div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                    <div id="tab2a" class="weui-tab__bd-item">

                        <div class="page">
                            <div class="page__bd">
                                <div class="weui-cells__title">邱玄伟</div>
                                <div class="weui-cells">
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <p>学号</p>
                                        </div>
                                        <div class="weui-cell__ft">*******</div>
                                    </div>
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <p>是否实习</p>
                                        </div>
                                        <div class="weui-cell__ft">否</div>
                                    </div>
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <p>是否开题</p>
                                        </div>
                                        <div class="weui-cell__ft">否</div>
                                    </div>
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <p>答辩状态</p>
                                        </div>
                                        <div class="weui-cell__ft">未答辩</div>
                                    </div>
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <p>是否在校生</p>
                                        </div>
                                        <div class="weui-cell__ft">是</div>
                                    </div>
                                </div>

                            </div>
                            <div class="page">
                                <div class="page__bd">
                                    <div class="weui-cells__title">王霁</div>
                                    <div class="weui-cells">
                                        <div class="weui-cell">
                                            <div class="weui-cell__bd">
                                                <p>学号</p>
                                            </div>
                                            <div class="weui-cell__ft">********</div>
                                        </div>
                                        <div class="weui-cell">
                                            <div class="weui-cell__bd">
                                                <p>是否实习</p>
                                            </div>
                                            <div class="weui-cell__ft">是</div>
                                        </div>
                                        <div class="weui-cell">
                                            <div class="weui-cell__bd">
                                                <p>是否开题</p>
                                            </div>
                                            <div class="weui-cell__ft">否</div>
                                        </div>
                                        <div class="weui-cell">
                                            <div class="weui-cell__bd">
                                                <p>答辩状态</p>
                                            </div>
                                            <div class="weui-cell__ft">未答辩</div>
                                        </div>
                                        <div class="weui-cell">
                                            <div class="weui-cell__bd">
                                                <p>是否在校生</p>
                                            </div>
                                            <div class="weui-cell__ft">是</div>
                                        </div>

                                    </div>

                                </div>

                            </div>


                        </div>
                        <div class="page">

                            <div class="page__bd">
                                <div class="weui-cells__title">陈君陶</div>
                                <div class="weui-cells">
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <p>学号</p>
                                        </div>
                                        <div class="weui-cell__ft">********</div>
                                    </div>
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <p>是否实习</p>
                                        </div>
                                        <div class="weui-cell__ft">否</div>
                                    </div>
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <p>是否开题</p>
                                        </div>
                                        <div class="weui-cell__ft">否</div>
                                    </div>
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <p>答辩状态</p>
                                        </div>
                                        <div class="weui-cell__ft">未答辩</div>
                                    </div>
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <p>是否在校生</p>
                                        </div>
                                        <div class="weui-cell__ft">是</div>
                                    </div>

                                </div>

                            </div>

                        </div>v>
                    </div>
                    <div id="tab3a" class="weui-tab__bd-item">

                        <div class="page">

                            <div class="page__bd">
                                <div class="weui-cells__title">王霁</div>
                                <div class="weui-cells">
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <p>学号</p>
                                        </div>
                                        <div class="weui-cell__ft">*******</div>
                                    </div>
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <p>是否实习</p>
                                        </div>
                                        <div class="weui-cell__ft">否</div>
                                    </div>
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <p>是否开题</p>
                                        </div>
                                        <div class="weui-cell__ft">否</div>
                                    </div>
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <p>答辩状态</p>
                                        </div>
                                        <div class="weui-cell__ft">未答辩</div>
                                    </div>
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <p>是否在校生</p>
                                        </div>
                                        <div class="weui-cell__ft">是</div>
                                    </div>
                                </div>

                            </div>
                            <div class="page">
                                <div class="page__bd">
                                    <div class="weui-cells__title">邱玄伟</div>
                                    <div class="weui-cells">
                                        <div class="weui-cell">
                                            <div class="weui-cell__bd">
                                                <p>学号</p>
                                            </div>
                                            <div class="weui-cell__ft">********</div>
                                        </div>
                                        <div class="weui-cell">
                                            <div class="weui-cell__bd">
                                                <p>是否实习</p>
                                            </div>
                                            <div class="weui-cell__ft">是</div>
                                        </div>
                                        <div class="weui-cell">
                                            <div class="weui-cell__bd">
                                                <p>是否开题</p>
                                            </div>
                                            <div class="weui-cell__ft">否</div>
                                        </div>
                                        <div class="weui-cell">
                                            <div class="weui-cell__bd">
                                                <p>答辩状态</p>
                                            </div>
                                            <div class="weui-cell__ft">未答辩</div>
                                        </div>
                                        <div class="weui-cell">
                                            <div class="weui-cell__bd">
                                                <p>是否在校生</p>
                                            </div>
                                            <div class="weui-cell__ft">是</div>
                                        </div>

                                    </div>

                                </div>

                            </div>


                        </div>
                        <div class="page">
                            <div class="page__bd">
                                <div class="weui-cells__title">侯博文</h1>
                                    <div class="weui-cells">
                                        <div class="weui-cell">
                                            <div class="weui-cell__bd">
                                                <p>学号</p>
                                            </div>
                                            <div class="weui-cell__ft">********</div>
                                        </div>
                                        <div class="weui-cell">
                                            <div class="weui-cell__bd">
                                                <p>是否实习</p>
                                            </div>
                                            <div class="weui-cell__ft">否</div>
                                        </div>
                                        <div class="weui-cell">
                                            <div class="weui-cell__bd">
                                                <p>是否开题</p>
                                            </div>
                                            <div class="weui-cell__ft">否</div>
                                        </div>
                                        <div class="weui-cell">
                                            <div class="weui-cell__bd">
                                                <p>答辩状态</p>
                                            </div>
                                            <div class="weui-cell__ft">未答辩</div>
                                        </div>
                                        <div class="weui-cell">
                                            <div class="weui-cell__bd">
                                                <p>是否在校生</p>
                                            </div>
                                            <div class="weui-cell__ft">是</div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div id="tab3" class="weui-tab__bd-item">
            <h1>页面三</h1>
        </div>
        <div id="tab4" class="weui-tab__bd-item">
            <h1>页面四</h1>
        </div>
    </div>

    <div class="weui-tabbar">
        <a href="#tab1" class="weui-tabbar__item weui-bar__item--on">
            <div class="weui-tabbar__icon">
                <img src="../node_modules/jquery-weui/dist/demos/images/icon_nav_button.png" alt="">
            </div>
            <p class="weui-tabbar__label">全部</p>
        </a>
        <a href="#tab2" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="../node_modules/jquery-weui/dist/demos/images/icon_nav_msg.png" alt="">
            </div>
            <p class="weui-tabbar__label">在校学生</p>
        </a>
        <a href="#tab3" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="../node_modules/jquery-weui/dist/demos/images/icon_nav_article.png" alt="">
            </div>
            <p class="weui-tabbar__label">未通过答辩</p>
        </a>
        <a href="#tab4" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="../node_modules/jquery-weui/dist/demos/images/icon_nav_cell.png" alt="">
            </div>
            <p class="weui-tabbar__label">我</p>
        </a>
    </div>
    </div>
</div>
<script src="../node_modules/jquery-weui/dist/lib/jquery-2.1.4.js"></script>
<script src="../node_modules/jquery-weui/dist/lib/fastclick.js"></script>
<script>
    $(function() {
        FastClick.attach(document.body);
    });
</script>
<script>
    $(function() {

        var i=0;
        $(".weui_navbar a").bind("click", function(){

            //css操作
            alert(i++);
            //操作导航栏
            $(".weui_bar_item_on").removeClass('weui_bar_item_on');
            //console.log($(this).find("a"));
            $(this).addClass("weui_bar_item_on");

            //操作内容切换
            $(".weui_tab_bd .weui_tab_bd_item_active").removeClass('weui_tab_bd_item_active');
            var data_toggle =jQuery(this).attr("href");
            $(data_toggle).addClass("weui_tab_bd_item_active");
            // $(this).addClass("weui_tab_bd_item_active");

        });
    });

</script>

</body>
</html>







<div class="weui-panel__hd">2016级</div>
   <div class="weui-panel__bd"> 
    <% for(var i = 0;i<students2016.length;i++) {%>
                <div class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title"><%= students2016[i].name%></h4>
                        <p class="weui-media-box__desc"><%= students2016[i].type_name%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= students2016[i].degree_type_name%>
                        </p>
                    </div>
                </div>
                <%}%>
            </div>
<div class="weui-panel__hd">2015级</div>
   <div class="weui-panel__bd"> 
    <% for(var i = 0;i<students2015.length;i++) {%>
                <div class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title"><%= students2015[i].name%></h4>
                        <p class="weui-media-box__desc"><%= students2015[i].type_name%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= students2015[i].degree_type_name%>
                        </p>
                    </div>
                </div>
                <%}%>
            </div>
<div class="weui-panel__hd">2014级</div>
   <div class="weui-panel__bd"> 
     <% for(var i = 0;i<students2014.length;i++) {%>
                <div class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title"><%= students2014[i].name%></h4>
                        <p class="weui-media-box__desc"><%= students2014[i].type_name%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= students2014[i].degree_type_name%>
                        </p>
                    </div>
                </div>
                <%}%>
            </div>
<div class="weui-panel__hd">2013级</div>
   <div class="weui-panel__bd"> 
          <% for(var i = 0;i<students2013.length;i++) {%>
                <div class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title"><%= students2013[i].name%></h4>
                        <p class="weui-media-box__desc"><%= students2013[i].type_name%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= students2013[i].degree_type_name%>
                        </p>
                    </div>
                </div>
                <%}%>
            </div>
<div class="weui-panel__hd">2012级</div>
   <div class="weui-panel__bd"> 
     <% for(var i = 0;i<students2012.length;i++) {%>
                <div class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title"><%= students2012[i].name%></h4>
                        <p class="weui-media-box__desc"><%= students2012[i].type_name%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= students2012[i].degree_type_name%>
                        </p>
                    </div>
                </div>
                <%}%>
            </div>
<div class="weui-panel__hd">2011级</div>
   <div class="weui-panel__bd"> 
    <% for(var i = 0;i<students2011.length;i++) {%>
                <div class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title"><%= students2011[i].name%></h4>
                        <p class="weui-media-box__desc"><%= students2011[i].type_name%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= students2011[i].degree_type_name%>
                        </p>
                    </div>
                </div>
                <%}%>
            </div>
<div class="weui-panel__hd">2010级</div>
   <div class="weui-panel__bd"> 
    <% for(var i = 0;i<students2010.length;i++) {%>
                <div class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title"><%= students2010[i].name%></h4>
                        <p class="weui-media-box__desc"><%= students2010[i].type_name%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= students2010[i].degree_type_name%>
                        </p>
                    </div>
                </div>
                <%}%>
            </div>
<div class="weui-panel__hd">2009级</div>
   <div class="weui-panel__bd"> 
    <% for(var i = 0;i<students2009.length;i++) {%>
                <div class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title"><%= students2009[i].name%></h4>
                        <p class="weui-media-box__desc"><%= students2009[i].type_name%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= students2009[i].degree_type_name%>
                        </p>
                    </div>
                </div>
                <%}%>
            </div>
<div class="weui-panel__hd">2008级</div>
   <div class="weui-panel__bd"> 
    <% for(var i = 0;i<students2008.length;i++) {%>
                <div class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title"><%= students2008[i].name%></h4>
                        <p class="weui-media-box__desc"><%= students2008[i].type_name%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= students2008[i].degree_type_name%>
                        </p>
                    </div>
                </div>
                <%}%>
            </div>
<div class="weui-panel__hd">2007级</div>
   <div class="weui-panel__bd"> 
    <% for(var i = 0;i<students2007.length;i++) {%>
                <div class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title"><%= students2007[i].name%></h4>
                        <p class="weui-media-box__desc"><%= students2007[i].type_name%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= students2007[i].degree_type_name%>
                        </p>
                    </div>
                </div>
                <%}%>
            </div>


<!-- 原有请求按钮 -->
<div class="weui-btn-area" type=submit>
                <a class="weui-btn weui-btn_primary" id="showTooltips">确定</a>
            </div>