<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>学生信息</title>
    <link rel="stylesheet" href="../weui/dist/style/weui.css"/>
    <!--<link rel="stylesheet" href="./weui/dist/example/example.css"/>-->
    <!--<link rel="stylesheet" href="./node_modules/jquery-weui/dist/lib/weui.css">-->
    <link rel="stylesheet" href="../node_modules/jquery-weui/dist/css/jquery-weui.css">
    <script src="../node_modules/jquery-weui/dist/lib/jquery-2.1.4.js"></script>
    <script src="../node_modules/jquery-weui/dist/js/jquery-weui.js"></script>

</head>


<body ontouchstart>
<div class="weui-tab">
    <div class="weui-navbar">
        <div class="weui-navbar__item weui-navbar__item--on" href="#tab1">
            16级
        </div>
        <div class="weui-navbar__item" href="#tab2">
            15级
        </div>
        <div class="weui-navbar__item" href="#tab3">
            14级
        </div>
    </div>
    <div class="weui-tab__bd">
        <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active ">

            <div class="page">
                <div class="page__bd">
                    <div class="weui-cells__title">王霁</div>
                    <div class="weui-cells">
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>学号</p>
                            </div>
                            <div class="weui-cell__ft">*******</div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>是否实习</p>
                            </div>
                            <div class="weui-cell__ft">否</div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>是否开题</p>
                            </div>
                            <div class="weui-cell__ft">否</div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>答辩状态</p>
                            </div>
                            <div class="weui-cell__ft">未答辩</div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>是否在校生</p>
                            </div>
                            <div class="weui-cell__ft">是</div>
                        </div>
                    </div>

                </div>
                <div class="page">

                    <div class="page__bd">
                        <div class="weui-cells__title">邱玄伟</div>
                        <div class="weui-cells">
                            <div class="weui-cell">
                                <div class="weui-cell__bd">
                                    <p>学号</p>
                                </div>
                                <div class="weui-cell__ft">********</div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__bd">
                                    <p>是否实习</p>
                                </div>
                                <div class="weui-cell__ft">是</div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__bd">
                                    <p>是否开题</p>
                                </div>
                                <div class="weui-cell__ft">否</div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__bd">
                                    <p>答辩状态</p>
                                </div>
                                <div class="weui-cell__ft">未答辩</div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__bd">
                                    <p>是否在校生</p>
                                </div>
                                <div class="weui-cell__ft">是</div>
                            </div>

                        </div>

                    </div>

                </div>


            </div>
            <div class="page">
                <div class="page__bd">
                    <div class="weui-cells__title">侯博文</div>
                    <div class="weui-cells">
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>学号</p>
                            </div>
                            <div class="weui-cell__ft">********</div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>是否实习</p>
                            </div>
                            <div class="weui-cell__ft">否</div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>是否开题</p>
                            </div>
                            <div class="weui-cell__ft">否</div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>答辩状态</p>
                            </div>
                            <div class="weui-cell__ft">未答辩</div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>是否在校生</p>
                            </div>
                            <div class="weui-cell__ft">是</div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
        <div id="tab2" class="weui-tab__bd-item">

            <div class="page">
                <div class="page__bd">
                    <div class="weui-cells__title">邱玄伟</div>
                    <div class="weui-cells">
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>学号</p>
                            </div>
                            <div class="weui-cell__ft">*******</div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>是否实习</p>
                            </div>
                            <div class="weui-cell__ft">否</div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>是否开题</p>
                            </div>
                            <div class="weui-cell__ft">否</div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>答辩状态</p>
                            </div>
                            <div class="weui-cell__ft">未答辩</div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>是否在校生</p>
                            </div>
                            <div class="weui-cell__ft">是</div>
                        </div>
                    </div>

                </div>
                <div class="page">
                    <div class="page__bd">
                        <div class="weui-cells__title">王霁</div>
                        <div class="weui-cells">
                            <div class="weui-cell">
                                <div class="weui-cell__bd">
                                    <p>学号</p>
                                </div>
                                <div class="weui-cell__ft">********</div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__bd">
                                    <p>是否实习</p>
                                </div>
                                <div class="weui-cell__ft">是</div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__bd">
                                    <p>是否开题</p>
                                </div>
                                <div class="weui-cell__ft">否</div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__bd">
                                    <p>答辩状态</p>
                                </div>
                                <div class="weui-cell__ft">未答辩</div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__bd">
                                    <p>是否在校生</p>
                                </div>
                                <div class="weui-cell__ft">是</div>
                            </div>

                        </div>

                    </div>

                </div>


            </div>
            <div class="page">

                <div class="page__bd">
                    <div class="weui-cells__title">陈君陶</div>
                    <div class="weui-cells">
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>学号</p>
                            </div>
                            <div class="weui-cell__ft">********</div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>是否实习</p>
                            </div>
                            <div class="weui-cell__ft">否</div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>是否开题</p>
                            </div>
                            <div class="weui-cell__ft">否</div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>答辩状态</p>
                            </div>
                            <div class="weui-cell__ft">未答辩</div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>是否在校生</p>
                            </div>
                            <div class="weui-cell__ft">是</div>
                        </div>

                    </div>

                </div>

            </div>v>
        </div>
        <div id="tab3" class="weui-tab__bd-item">

            <div class="page">

                <div class="page__bd">
                    <div class="weui-cells__title">王霁</div>
                    <div class="weui-cells">
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>学号</p>
                            </div>
                            <div class="weui-cell__ft">*******</div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>是否实习</p>
                            </div>
                            <div class="weui-cell__ft">否</div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>是否开题</p>
                            </div>
                            <div class="weui-cell__ft">否</div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>答辩状态</p>
                            </div>
                            <div class="weui-cell__ft">未答辩</div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>是否在校生</p>
                            </div>
                            <div class="weui-cell__ft">是</div>
                        </div>
                    </div>

                </div>
                <div class="page">
                    <div class="page__bd">
                        <div class="weui-cells__title">邱玄伟</div>
                        <div class="weui-cells">
                            <div class="weui-cell">
                                <div class="weui-cell__bd">
                                    <p>学号</p>
                                </div>
                                <div class="weui-cell__ft">********</div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__bd">
                                    <p>是否实习</p>
                                </div>
                                <div class="weui-cell__ft">是</div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__bd">
                                    <p>是否开题</p>
                                </div>
                                <div class="weui-cell__ft">否</div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__bd">
                                    <p>答辩状态</p>
                                </div>
                                <div class="weui-cell__ft">未答辩</div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__bd">
                                    <p>是否在校生</p>
                                </div>
                                <div class="weui-cell__ft">是</div>
                            </div>

                        </div>

                    </div>

                </div>


            </div>
            <div class="page">
                <div class="page__bd">
                    <div class="weui-cells__title">侯博文</h1>
                    <div class="weui-cells">
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>学号</p>
                            </div>
                            <div class="weui-cell__ft">********</div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>是否实习</p>
                            </div>
                            <div class="weui-cell__ft">否</div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>是否开题</p>
                            </div>
                            <div class="weui-cell__ft">否</div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>答辩状态</p>
                            </div>
                            <div class="weui-cell__ft">未答辩</div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>是否在校生</p>
                            </div>
                            <div class="weui-cell__ft">是</div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>>
    <script>
    $(function() {

        var i=0;
        $(".weui_navbar a").bind("click", function(){

            //css操作
            alert(i++);
            //操作导航栏
            $(".weui_bar_item_on").removeClass('weui_bar_item_on');
            //console.log($(this).find("a"));
            $(this).addClass("weui_bar_item_on");

            //操作内容切换
            $(".weui_tab_bd .weui_tab_bd_item_active").removeClass('weui_tab_bd_item_active');
            var data_toggle =jQuery(this).attr("href");
            $(data_toggle).addClass("weui_tab_bd_item_active");
            // $(this).addClass("weui_tab_bd_item_active");

        });
    });

    </script>

</body>
</html>